html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  /* background-color: #c2deff; */
  overscroll-behavior: none;
  Font-size: calc(1vh + 0.5vw);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow:  hidden;
  margin: 0;
  min-height: 100%;
  direction: rtl;
  /* background-color: #bd6806; */
}
::selection {
  background-color: #006692;
  color: white;
}
.app {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.app.opening {
  background-image: url("../assets/images/backgrounds/opening.svg");
}

.app.intro,
.app.map {
  background-image: url("../assets/images/backgrounds/sky.svg");
}


.app.enteringRequest {
  background-image: url("../assets/images/backgrounds/.svg");
}

.app.manualProcedure {
  background-image: url("../assets/images/backgrounds/sky.svg");
}

.app.digitalProcedure {
  background-image: url("../assets/images/backgrounds/sky.svg");
}

.app.practice {
  background-image: url("../assets/images/backgrounds/sky.svg");
}

.app.generalProcedures {
  background-image: url("../assets/images/backgrounds/sky.svg");
}


.til-logo {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 3;
    width: 8rem;
}
.bahad11Icon {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 3;
    width: 6rem;
}

@font-face {
    font-family: "rubik";
    src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "rubik-bold";
    src: url("../assets/fonts/Rubik-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "avraham";
    src: url("../assets/fonts/Abraham-Regular.ttf") format("truetype");
  }

  .about-btn {
    position: fixed;
    border: none;
    color: #ffffff;
    font-size: 1.3rem;
    background-color: #07435D;
    border-radius: 150px;
    width: 2rem;
    height: 2rem;
    left: 7rem;
    top: 1rem;
    /* font-family: "rubik"; */
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    z-index: 2;

    transition: transform 0.25s ease, background-color 0.25s ease;
}

.about-btn:hover {
    transform: scale(1.15);
}
.about-text-btn {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  left: 8.7rem;
  top: 3rem;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  font-family: "rubik";
  color: #FFEE97;
}

.div-about {
    position: fixed;
    color: #07435D;
    width: 15rem;
    height: 25em;
    left: 7rem;
    top: 5rem;
    font-family: "rubik";
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.list-text-about {
    transition: background-color 0.5s ease;
    margin: 5%;
}

.list-text-about:hover {
    background-color: #d3eaf3;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.fade-out1.hidden {
  display: none;
}