.questions-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  direction: rtl;
}

.questions-plane {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24rem;
  z-index: 2;
}

.questions-title {
  position: absolute;
  top: 10.6rem;
  left: 50%;
  transform: translateX(-50%);

  width: 55rem;
  margin: 0;

  font-family: "rubik-bold";
  font-size: 1.25rem;
  color: #07435d;
  text-align: center;
  z-index: 2;
}

.questions-clouds {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);

  width: 62rem;

  display: grid;
  grid-template-columns: repeat(2, 19rem);
  column-gap: 14rem;
  row-gap: 3.5rem;

  justify-content: center;
  align-items: center;

  z-index: 3;
}


.question-cloud {
  position: relative;
  width: 19rem;
  min-height: auto;

  border: none;
  background: transparent;
  padding: 0;

  cursor: pointer;
  transition: transform 0.25s ease, filter 0.25s ease;
}

/* כבר לא צריך מיקומים ידניים */
.question-cloud-1,
.question-cloud-2,
.question-cloud-3,
.question-cloud-4 {
  top: auto;
  left: auto;
  right: auto;
}

.question-cloud-img {
  width: 100%;
  display: block;
  pointer-events: none;
  transition: filter 0.25s ease;
}

.question-cloud-number {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "rubik-bold";
  font-size: 1.2rem;
  color: #07435d;
  pointer-events: none;
}

.question-cloud-answer {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 12.5rem;

  font-family: "rubik-bold";
  font-size: 0.86rem;
  line-height: 1.22;
  color: #07435d;
  text-align: center;
  pointer-events: none;
}

.question-cloud:hover {
  transform: translateY(-0.45rem) scale(1.04);
  filter: drop-shadow(0 0.65rem 1rem rgba(0, 102, 146, 0.28));
}

.question-cloud:hover .question-cloud-img {
  filter: brightness(1.03);
}

.question-cloud:disabled {
  cursor: default;
}

/* מיקום עננים */
/* .question-cloud-1 {
  top: 17rem;
  left: 23rem;
}

.question-cloud-2 {
  top: 17rem;
  right: 23rem;
}

.question-cloud-3 {
  top: 31rem;
  left: 23rem;
}

.question-cloud-4 {
  top: 31rem;
  right: 23rem;
} */

/* נכון */
.question-cloud-correct {
  animation: correctCloudPop 0.35s ease-out;
  filter:
    drop-shadow(0 0 0.6rem rgba(113, 221, 151, 0.95))
    drop-shadow(0 0 1.4rem rgba(116, 230, 156, 0.85));
}

.question-cloud-correct:hover {
  transform: translateY(-0.45rem) scale(1.04);
  filter:
    drop-shadow(0 0 0.8rem rgb(113, 221, 151, 0.95))
    drop-shadow(0 0 1.8rem rgba(116, 230, 156, 0.85));
}

/* שגוי */
.question-cloud-wrong {
  filter:
    drop-shadow(0 0 0.7rem rgba(247, 23, 23, 0.95))
    drop-shadow(0 0 1.7rem rgba(247, 23, 23, 0.9));
}

.question-cloud-wrong:hover {
  transform: translateY(-0.45rem) scale(1.04);
  filter:
    drop-shadow(0 0 0.8rem rgba(247, 23, 23, 1))
    drop-shadow(0 0 1.9rem rgba(247, 23, 23, 0.95));
}
.question-cloud-wrong .question-cloud-img {
  filter: brightness(0.98);
}

@keyframes correctCloudPop {
  0% {
    transform: scale(0.96);
  }

  60% {
    transform: scale(1.06);
  }

  100% {
    transform: scale(1);
  }
}

